<a href="https://colab.research.google.com/github/Miftahuddin-cod/Neural_Network_Model_Car_Evaluation/blob/master/Car_evaluation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# upload dataset car_evaluation
from google.colab import files
uploaded = files.upload()

Saving car_evaluation.csv to car_evaluation.csv

Dari dataset ini akan dibuat sebuah model Neural Network untuk mengambil keputusan. 
Berikut nilai-nilai atrributnya 

1. Class Values: unacc, acc, good, vgood ||
2. buying: vhigh, high, med, low. ||
3. maint: vhigh, high, med, low. ||
4. doors: 2, 3, 4, 5more. ||
5. persons: 2, 4, more. ||
6. lug_boot: small, med, big. ||
7. safety: low, med, high. ||

In [ ]:
# import library yang dibutuhkan
import pandas as pd
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from keras.models import Sequential
from keras.layers import Dense

In [ ]:
# menyimpan dataset kedalam
df = pd.read_csv('car_evaluation.csv')
df

      vhigh vhigh.1      2   2.1  small   low  unacc
0     vhigh   vhigh      2     2  small   med  unacc
1     vhigh   vhigh      2     2  small  high  unacc
2     vhigh   vhigh      2     2    med   low  unacc
3     vhigh   vhigh      2     2    med   med  unacc
4     vhigh   vhigh      2     2    med  high  unacc
...     ...     ...    ...   ...    ...   ...    ...
1722    low     low  5more  more    med   med   good
1723    low     low  5more  more    med  high  vgood
1724    low     low  5more  more    big   low  unacc
1725    low     low  5more  more    big   med   good
1726    low     low  5more  more    big  high  vgood

[1727 rows x 7 columns]

In [ ]:
# mengubah nama kolom dataset agar mudah dimengerti
df.columns = ['buying','maint','doors','persons','lug_boot','safety','classes']

In [ ]:
# Encode Data pada dataset agar mudah diolah
df.buying.replace(('vhigh','high','med','low'),(1,2,3,4), inplace=True)
df.maint.replace(('vhigh','high','med','low'),(1,2,3,4), inplace=True)
df.doors.replace(('2','3','4','5more'),(1,2,3,4), inplace=True)
df.persons.replace(('2','4','more'),(1,2,3), inplace=True)
df.lug_boot.replace(('small','med','big'),(1,2,3), inplace=True)
df.safety.replace(('low','med','high'),(1,2,3), inplace=True)

In [ ]:
df

      buying  maint  doors  persons  lug_boot  safety classes
0          1      1      1        1         1       2   unacc
1          1      1      1        1         1       3   unacc
2          1      1      1        1         2       1   unacc
3          1      1      1        1         2       2   unacc
4          1      1      1        1         2       3   unacc
...      ...    ...    ...      ...       ...     ...     ...
1722       4      4      4        3         2       2    good
1723       4      4      4        3         2       3   vgood
1724       4      4      4        3         3       1   unacc
1725       4      4      4        3         3       2    good
1726       4      4      4        3         3       3   vgood

[1727 rows x 7 columns]

In [ ]:
# memisahkan kelas menjadi data dummies
category = pd.get_dummies(df.classes)
category

      acc  good  unacc  vgood
0       0     0      1      0
1       0     0      1      0
2       0     0      1      0
3       0     0      1      0
4       0     0      1      0
...   ...   ...    ...    ...
1722    0     1      0      0
1723    0     0      0      1
1724    0     0      1      0
1725    0     1      0      0
1726    0     0      0      1

[1727 rows x 4 columns]

In [ ]:
# menggabungkan table category dan dataset
new_df = pd.concat([df, category], axis=1)
new_df = new_df.drop(columns='classes')
new_df

      buying  maint  doors  persons  lug_boot  safety  acc  good  unacc  vgood
0          1      1      1        1         1       2    0     0      1      0
1          1      1      1        1         1       3    0     0      1      0
2          1      1      1        1         2       1    0     0      1      0
3          1      1      1        1         2       2    0     0      1      0
4          1      1      1        1         2       3    0     0      1      0
...      ...    ...    ...      ...       ...     ...  ...   ...    ...    ...
1722       4      4      4        3         2       2    0     1      0      0
1723       4      4      4        3         2       3    0     0      0      1
1724       4      4      4        3         3       1    0     0      1      0
1725       4      4      4        3         3       2    0     1      0      0
1726       4      4      4        3         3       3    0     0      0      1

[1727 rows x 10 columns]

In [ ]:
# menyimpan dataset kedalam bentuk array
dataset = new_df.values
dataset

array([[1, 1, 1, ..., 0, 1, 0],
       [1, 1, 1, ..., 0, 1, 0],
       [1, 1, 1, ..., 0, 1, 0],
       ...,
       [4, 4, 4, ..., 0, 1, 0],
       [4, 4, 4, ..., 1, 0, 0],
       [4, 4, 4, ..., 0, 0, 1]])

In [ ]:
# Pilih 6 kolom pertama untuk dijadikan sebagai atribut
X = dataset[:,0:6]
# Pilih 4 kolom terakhir sebagai label
y = dataset[:,6:10]

In [ ]:
# membuat data train dan data test
X_train, X_test, Y_train, Y_test = train_test_split(X, y, test_size=0.3)

In [ ]:
# membuat model Neural network
model = Sequential([    
                    Dense(128, activation='relu', input_shape=(6,)),    
                    Dense(64, activation='relu'),    
                    Dense(4, activation='softmax'),])

In [ ]:
# compile model
model.compile(optimizer='Adam',
              loss='categorical_crossentropy',
              metrics=['accuracy'])

In [ ]:
# melakukan training pada model
hist = model.fit(X_train, Y_train, epochs=30)

Epoch 1/30
38/38 [==============================] - 0s 2ms/step - loss: 0.9066 - accuracy: 0.6730
Epoch 2/30
38/38 [==============================] - 0s 2ms/step - loss: 0.7784 - accuracy: 0.7045
Epoch 3/30
38/38 [==============================] - 0s 2ms/step - loss: 0.6982 - accuracy: 0.7260
Epoch 4/30
38/38 [==============================] - 0s 2ms/step - loss: 0.6214 - accuracy: 0.7517
Epoch 5/30
38/38 [==============================] - 0s 2ms/step - loss: 0.5442 - accuracy: 0.7914
Epoch 6/30
38/38 [==============================] - 0s 2ms/step - loss: 0.4828 - accuracy: 0.8071
Epoch 7/30
38/38 [==============================] - 0s 1ms/step - loss: 0.4160 - accuracy: 0.8386
Epoch 8/30
38/38 [==============================] - 0s 2ms/step - loss: 0.3665 - accuracy: 0.8576
Epoch 9/30
38/38 [==============================] - 0s 1ms/step - loss: 0.3348 - accuracy: 0.8700
Epoch 10/30
38/38 [==============================] - 0s 1ms/step - loss: 0.3003 - accuracy: 0.8767
Epoch 11/30
38/38 [==============================] - 0s 2ms/step - loss: 0.2748 - accuracy: 0.8949
Epoch 12/30
38/38 [==============================] - 0s 2ms/step - loss: 0.2559 - accuracy: 0.9056
Epoch 13/30
38/38 [==============================] - 0s 1ms/step - loss: 0.2367 - accuracy: 0.9123
Epoch 14/30
38/38 [==============================] - 0s 1ms/step - loss: 0.2245 - accuracy: 0.9180
Epoch 15/30
38/38 [==============================] - 0s 1ms/step - loss: 0.2120 - accuracy: 0.9180
Epoch 16/30
38/38 [==============================] - 0s 1ms/step - loss: 0.1994 - accuracy: 0.9197
Epoch 17/30
38/38 [==============================] - 0s 2ms/step - loss: 0.1920 - accuracy: 0.9247
Epoch 18/30
38/38 [==============================] - 0s 1ms/step - loss: 0.1857 - accuracy: 0.9272
Epoch 19/30
38/38 [==============================] - 0s 1ms/step - loss: 0.1667 - accuracy: 0.9445
Epoch 20/30
38/38 [==============================] - 0s 1ms/step - loss: 0.1843 - accuracy: 0.9305
Epoch 21/30
38/38 [==============================] - 0s 1ms/step - loss: 0.1743 - accuracy: 0.9338
Epoch 22/30
38/38 [==============================] - 0s 1ms/step - loss: 0.1758 - accuracy: 0.9296
Epoch 23/30
38/38 [==============================] - 0s 2ms/step - loss: 0.1547 - accuracy: 0.9412
Epoch 24/30
38/38 [==============================] - 0s 1ms/step - loss: 0.1380 - accuracy: 0.9545
Epoch 25/30
38/38 [==============================] - 0s 1ms/step - loss: 0.1374 - accuracy: 0.9512
Epoch 26/30
38/38 [==============================] - 0s 1ms/step - loss: 0.1312 - accuracy: 0.9570
Epoch 27/30
38/38 [==============================] - 0s 1ms/step - loss: 0.1315 - accuracy: 0.9553
Epoch 28/30
38/38 [==============================] - 0s 1ms/step - loss: 0.1224 - accuracy: 0.9586
Epoch 29/30
38/38 [==============================] - 0s 1ms/step - loss: 0.1226 - accuracy: 0.9536
Epoch 30/30
38/38 [==============================] - 0s 2ms/step - loss: 0.1165 - accuracy: 0.9644

In [ ]:
# evaluasi model dengan data test
model.evaluate(X_test, Y_test)

17/17 [==============================] - 0s 1ms/step - loss: 0.1338 - accuracy: 0.9634

[0.13384553790092468, 0.963391125202179]

In [ ]:
model.predict([[4,	4,	4,	3,	2,	2,]])

array([[0.13463037, 0.8522659 , 0.000918  , 0.01218566]], dtype=float32)